@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scrollbar-gutter: stable;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  padding: 4vw;
  @include theme-light;

  &.dark {
    @include theme-dark;
  }

  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll; // Always show scrollbar

  @media only screen and (max-width: $bp-medium) {
    padding: 0; // Remove padding at medium breakpoint for full screen
  }
}

.container {
  max-width: 120rem;
  width: 100%;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(50rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "head head"
    "list recipe"; // Removed pagination from main grid template

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "list"
      "recipe"; // Removed pagination from large breakpoint grid
    margin: 0;
    overflow: hidden;
  }

  @media only screen and (max-width: $bp-medium) {
    max-width: 100%;
    border-radius: 0; // Remove border radius for full-width appearance
    box-shadow: none; // Remove shadow for full-width appearance
    grid-template-rows: 10rem auto auto auto; // Added a row for pagination
  }

  @media only screen and (max-width: $bp-smallest) {
    min-height: 100vh; // Ensure it fills the viewport height
    display: flex; // Switch to flexbox for better content distribution
    flex-direction: column; // Stack elements vertically
  }
}
