@use "variables" as *;
@use "sass:color";

.recipe {
  background-color: $color-grey-light-1;
  grid-area: recipe; // Assign to recipe grid area

  @media only screen and (max-width: $bp-smallest) {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    flex: 1; // Allow the recipe section to grow and fill available space
    margin-bottom: 0; // Remove any bottom margin
  }

  ///////////
  // FIGURE
  &__fig {
    height: 32rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    @media only screen and (max-width: $bp-small) {
      height: 25rem;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    transition: filter 0.3s ease;

    // Remove blur effect on hover for desktop devices
    @media (hover: hover) {
      &:hover {
        filter: blur(0);
      }
    }

    // Class to be toggled via JS for mobile devices
    &.no-blur {
      filter: blur(0);
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;

    span {
      border-radius: 30px 10px 30px 10px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
      font-size: 2.75rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 80%;
      font-size: 2.25rem;
      transform: translate(-50%, 20%) skewY(-4deg);
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 90%;
      font-size: 2rem;
      transform: translate(-50%, 20%) skewY(-3deg);
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 6rem 6rem 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 4rem 4rem 2rem;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;

      @media only screen and (max-width: $bp-medium) {
        margin-right: 3rem;
      }

      @media only screen and (max-width: $bp-small) {
        margin-right: 0.5rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;

    @media only screen and (max-width: $bp-small) {
      margin-left: 0;
      display: flex;
      align-items: center;
    }
  }

  &__user-generated {
    background-color: color.adjust($color-grey-light-2, $lightness: 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;

    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }

    @media only screen and (max-width: $bp-small) {
      margin-right: 0.2rem;
      height: 3.5rem;
      width: 3.5rem;
    }
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: $color-grey-light-2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 4rem 6rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 3rem 4rem;
      font-size: 1.5rem;
    }
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 4rem 6rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 3rem 4rem;
    }
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-2;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }

  &__publisher {
    font-weight: 700;
  }
}
